# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.coverage
.cache

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environments
venv/

# mypy
.mypy_cache/
